
#text form fieldset {padding-top:0;margin:50px 0 2.5em 0;}
	#text form legend {padding-bottom:20px;margin-top:-20px;}
				
#search {width:136px;}

input {vertical-align:middle;}

#blue {height:120px;}
#blue .button.big{padding-left:8px;padding-right:8px;}
#blue .button {padding-left:0;padding-right:0;margin-right:-10px;}

#foot .author {display:block;float:left;margin-right:5px;}
#foot .author span {display:block;}
#foot .in {height:auto;}
#foot .fr {display:block;width:100%;clear:both;text-align:right;}         
           
