<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
    <img src="{{ coverUrl }}" />
  </div>
  <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
    <div class="row">
      <label>Titul:</label>
      <p>{{ title }}</p>
    </div>
    <div class="row mt-1">
      <label>Vedlejší věcné záhlaví:</label>
      <p>{{ keywords }}</p>
    </div>
    <div class="row mt-1">
      <label>Identifikátory:</label>
      <p>{{ idents }}</p>
    </div>
    <div class="row mt-1">
      <label>Anotace:</label>
      <p>{{ annotation }}</p>
    </div>
  </div>
</div>
