
#text form fieldset {padding-top:0;margin:1em 0 2.5em 0;}
	#text form legend {margin-bottom:30px;margin-top:-13px}
				
#search {width:146px;}
#foot .col {margin-right:21px;}
#foot .col.last {margin-right:-10px;}

